*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    background:
      linear-gradient(217deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 70.71%),
      linear-gradient(127deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 70.71%);
      background-repeat: no-repeat;
      background-size: cover;   
}
.container{
    width: 100%;
    height: 100%;
    background-image:url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    text-transform: capitalize;
}
.menu ul li a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 20px;
}

.sign{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.sign span{
    display: block;
    padding: 8px 22px;
}
.logo img{
    width: 80px;
    margin-top: -7px;
    margin-right: 90px;
    margin-left: 10px;

}
.banner{
    /* width: 80px; */
    height: 70px;
    top: 25%;
    left: 130px;
    position: absolute;
}
.app-text{
    width: 60%;
    float: left;
    margin-top: 5%;
}
.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
    background-color: rgb(7, 73, 51);
}
.app-text p{
    width: 659px;
    font-size: 25px;
    margin: 30px 0 30px 40px; */
    line-height: 25px;
    background-color: rgb(70, 59, 51);
}
h3{
    margin-left: 20px;
}
.high{
    margin-left: 40%;
    background-color: rgb(248, 83, 83);
}
.app-image{
    margin-top: 90px;
    width: 35%;
    float: right;
    /* border-radius: 50%; */
}
.joker{
  
}
.app-image img{
    width: 80%;
}
.active, a:hover{
    border-bottom: 2px solid  #19d7f8;
}
.quick-link{
    left: 0;
    bottom: 0;
    position: fixed;
}
.quick-link ul{
    display: inline-block;
    margin: 5px auto;
    text-align: center;
    
}
.quick-link ul li{
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
    float: left;
}
.quick-link ul li .fa{
    font-size: 25px;
    color: rgb(173, 130, 252);
}
.quick-link ul li p{
    color: rgb(0, 0, 0);
}
.social-icon{
    right: 30px ;
    top: 30px;
    position: absolute;
    font-size: 20px;
   
}
.social-icon ul li{
    list-style: none;
    margin-top: 15px;
    text-align: center;
  
}
.social-icon ul li a{
    color: white;
    border-radius: 50%;
    border: 1px solid black ;
    padding: 5px;
    display: block;
    
}
@media only screen and (max-width:400px){

    /* body {
        width: 100%;
        height: 100vh;
        /* background:
          linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
          linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
          linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
          background-repeat: no-repeat;
          background-size: cover;  */
          /* background-color: green;
          background-repeat: no-repeat;
          background-size: cover; */
         
    } 
    .container{
        /* width: 100em;
        height: 100vh;
        background-image:url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
        background-repeat:no-repeat;
        background-size:cover; */
    }
    .sign{
        /* top: 40px;
        right: -100%;
        position: absolute;
        text-decoration: none;
        color: #fff;
        border: 2px solid transparent;
        border-radius: 20px;
        background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
        background-origin: border-box;
        background-clip: content-box,border-box; */
    }
    .app-text h1{
        /* font-size: 43px;
        width: 300px;
        position: relative;
        margin-left: 40px; */
    }
    .app-text p{
        /* width: 756px;
        font-size: 15px;
        margin: 30px 0 30px 40px;
       line-height: 25px; */ */
        
    }
}
